.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2%;
  }
  #social-test {
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    text-align: center;
    /* font-size: 30px; */
  }
  #social-test .social {
    padding-left: 0px;
  }
  #social-test li {
    display: inline-block;
  }
  #social-test li a {
    color: rgba(255, 255, 255, 1);
    border-radius: 60px;
    /* list-style-type: none; */
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 1%;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    /* margin-left: 10px; */
    transition: ease 1s;
  }
  #social-test li a:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .social:hover > li {
    opacity: 0.5;
  }
  .social:hover > li:hover {
    opacity: 1;
  }